.container div{
    background-color: lightgreen;
    border: 2px dotted darkorchid;
}

.container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-auto-rows: 17vh;
    gap: 50px;
  }

div p{
    margin: 2px;
}